[Unit]
After=syslog.target
Description=AntiBurglarPi Lite

[Service]
User=root
ExecStart=/usr/local/bin/abp
Restart=always


[Install]
WantedBy=multi-user.target